language: node_js
node_js:
- '16'
notifications:
  email: false
  slack:
    rooms:
      secure: BPJ5vGmMt0R7de1vkPrZENbzerla3z0bVon5wHEoEmHFbvYryh3MCt2tQGkaFs/0PXeCH8NiegKdS+oooe7HI2tzfT5/musUC1pGxS57ubu3ruGzZE1syFekCtEi17habSu4wwUBkN5ADIo5kd+Zn/tzjxKTWCB8OXA5/phmtULu33Eg49TNenLeGu59ru01p16V5JgD8cbhEuFyTCmBGu5x0C/uJOp0oTYNAbsUnrPIZ8aJ4HXPEW+BcN6lNrcbeQDsPS9cdR9pRw6BWf4d4TJLO0GfTo0QiCo0/mvawfYs8MBKuS3C0E/nNcPJJBvPNO9oI9qP7OhSe8WXd0NCdxU9+0WQeLDf7aNnzKMG1xw+gf9ekRKXUPGVwMNYdEhu6t2KnwSONocSeV6yx8F4g5ui1nWskHTV3W12h7W4wLDbPD3A1XV/EUesxQbLWs8l8BaZhkba4N9JGDkdFIth7Zk0qoIqitZ5nvLaUS2LsWjdWftIO3AMZvH4zmFE3yAhqtZmA5Ochvu0GymV/MJS7Nld/YV8Z2My7VDNtghJMfq2l9NM2G/au4zNygJi/87ttbhZFgQmZOyMA4xYXhsBfowO/8ebQik4+7VkiwCRn/1APM+/BoNeZl3/czmdm2+EVpZXuNr7rmTzgW+cQm5vq7p5bUBXKj4TpSgntp8ZHeE=
    on_success: always
    on_failure: always
env:
- CC_TEST_REPORTER_ID=681b33804ec176222d1afdfdfcd811e2e0e854ad24d6c5f943aee8c34a64e4f4
before-script:
- curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64
  > ./cc-test-reporter
- chmod +x ./cc-test-reporter
- "./cc-test-reporter before-build"
- git clone https://oauth2:$GITHUB_TOKEN@github.com/kalisio/development.git "development"
- source development/workspaces/libs/libs.sh feathers-s3
script:
- yarn test
after_script:
- "./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT"
